// =================================
// =================================
// =================================
.banner {
  background: {
    image   : url("../images/banner.jpg");
    size    : cover;
    position: 85%;
    repeat  : no-repeat;
  }



  // ===============================
  // ==================================
  // =================================
  div {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    width         : 90%;
    margin-left   : auto;
    margin-right  : auto;



    // ============================
    // ============================
    // ============================
    h1,
    h3 {
      color      : white;
      font-weight: 300;
    }

    h1 {
      margin-top: 4.6875rem;

      font-size  : 1.875rem;
      line-height: 1.2;
    }

    h3 {
      font-size  : 1.5rem;
      line-height: 1.4;
    }



    // ===================================
    // ===================================
    // ====================================
    a {
      min-width: 10rem;
      padding  : 1.25rem 2.1875rem;

      text-decoration: none;

      border       : .0625rem solid #ffffff;
      border-radius: $borderRadius;

      transition: all 200ms linear;



      // ===================================
      // ================================
      // ================================
      &:first-of-type {
        margin-top   : 1.5625rem;
        margin-bottom: 1.5625rem;

        color: black;

        background: white;



        // ===================================
        // ================================
        // ===============================
        &:hover {
          background: rgba(255, 255, 255, 0.9);
          border    : .0625rem solid rgba(255, 255, 255, .9);
        }
      }



      // ===================================
      // ===============================
      // ================================
      &:last-of-type {
        margin-bottom: 5.625rem;

        color: white;



        // ===================================
        // ===============================
        // =============================
        &:hover {
          color: black;

          background: white;
        }
      }
    }
  }
}
