// =================================
// =================================
// =================================
.features {
  display       : flex;
  flex-direction: column;
  align-items   : center;

  background: #f3f8fb;



  // =================================
  // =================================
  // =================================
  h3 {
    color      : $neutralColor;
    font-size  : 1.25rem;
    font-weight: 300;
  }



  // =================================
  // =================================
  // =================================
  img {
    margin-top   : 1.25rem;
    margin-bottom: 1.25rem;
  }
}
