// ===================================
// ===================================
// ===================================
.features {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  padding-top   : 2.5rem;
  padding-bottom: 2.5rem;

  background: #f3f8fb;



  // ===================================
  // ===================================
  // ===================================
  h3 {
    color      : $neutralColor;
    font-size  : 1.25rem;
    font-weight: 300;
  }



  // ===================================
  // ===================================
  // ===================================
  div {
    display       : flex;
    flex-direction: column;

    img {
      margin-top   : 1.25rem;
      margin-bottom: 1.25rem;
    }
  }
}



// ===================================
// ===================================
// ===================================
@media only screen and (min-width: 760px) {
  .features {
    padding-top   : 2rem;
    padding-bottom: 2rem;
    align-items   : unset;

    h3 {
      font-size : 1.3125rem;
      text-align: center;
    }

    div {
      display        : flex;
      flex-direction : row;
      justify-content: space-evenly;

      img {
        max-width: 100%;
      }
    }
  }
}
