// =================================
// =================================
// =================================
.footer {
  padding-top   : .8rem;
  padding-bottom: .8rem;

  text-align: center;



  // =================================
  // =================================
  // =================================
  p {
    font-size  : 0.741rem;
    line-height: 1.85714285714286;



    // =================================
    // =================================
    // =================================
    a {
      color          : $primaryColor;
      text-decoration: none;

      &:hover {
        color: #000;
      }
    }
  }
}
