// ===================================
// ===================================
// ===================================
.footer {
  padding-top   : .8rem;
  padding-bottom: .8rem;

  text-align: center;



  // ===================================
  // ===================================
  // ===================================
  p {
    font-size  : .741rem;
    line-height: 1.85714285714286;



    // ===================================
    // ===================================
    // ===================================
    a {
      color          : $primaryColor;
      text-decoration: none;

      &:hover {
        color: #000;
      }
    }
  }
}



// ===================================
// ===================================
// ===================================
@media only screen and (min-width: 760px) {
  .footer {
    display        : flex;
    justify-content: space-between;
    padding        : .4rem 1rem;

    p {
      font-size: .8125rem;
    }
  }
}
