// ===================================
// ===================================
// ===================================
.footer {
  padding-top   : .8rem;
  padding-bottom: .8rem;

  text-align: center;



  // ===================================
  // ===================================
  // ===================================
  .footer-container p {
    font-size  : .741rem;
    line-height: 1.85714285714286;



    // ===================================
    // ===================================
    // ===================================
    a {
      color          : $primaryColor;
      text-decoration: none;

      &:hover {
        color: #000;
      }
    }
  }
}



// ===================================
// ===================================
// ===================================
@media only screen and (min-width: 769px) {
  .footer {
    padding-top   : .4rem;
    padding-bottom: .4rem;

    .footer-container {
      display        : flex;
      justify-content: space-between;
      padding-right  : 1rem;
      padding-left   : 1rem;

      p {
        font-size: .8125rem;
      }
    }
  }
}
