// =================================
// =============Header================
// =================================
.header {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  padding        : 12px 20px;



  // ===================
  img {
    max-width: 140px;
  }



  // ======================
  button {
    padding: 12px;

    background: #075aae;
    border    : none;

    cursor: pointer;



    // ====================
    i {
      color: white;
    }
  }
}
