// =================================
// =============Header================
// =================================
.header {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  padding        : .75rem 1.25rem;



  // ====================
  // ===================
  // ===================
  img {
    max-width: 8.75rem;
  }



  // ====================
  // =====================
  // ======================
  button {
    padding: .75rem;

    background   : $primaryColor;
    border       : none;
    border-radius: $borderRadius;

    cursor: pointer;

    // ====================
    i {
      color: white;
    }
  }
}
