// ===================================
// ===================================
// ===================================
.let-me-help {
  padding: 5.2rem 1.25rem 4.5rem;

  background: $primaryColor;

  .let-me-help-container {
    display       : flex;
    flex-direction: column;
    align-items   : center;

    color     : white;
    text-align: center;




    // ===================================
    // ===================================
    // ===================================
    .let-me-help-separator {
      display: block;
      width  : 7%;

      border-top: .0625rem solid #efefef;
    }



    // ===================================
    // ===================================
    // ===================================
    h2 {
      margin-top   : 1.6rem;
      margin-bottom: 1.6rem;

      font-size  : 1.5625rem;
      font-weight: 300;
      line-height: 1.3;
    }

    a {
      display       : block;
      min-width     : 10rem;
      margin-top    : .9rem;
      padding-top   : 1.25rem;
      padding-bottom: 1.25rem;

      color          : black;
      text-decoration: none;

      background   : white;
      border       : .0625rem solid #ffffff;
      border-radius: $borderRadius;

      transition: all 200ms linear;

      &:hover {
        background: rgba(255, 255, 255, .9);
        border    : .0625rem solid rgba(255, 255, 255, .9);
      }
    }
  }
}



// ===================================
// ===================================
// ===================================
@media only screen and (min-width: 769px) {
  .let-me-help {
    padding: 7rem 7rem 6rem;

    .let-me-help-container {
      max-width   : 49.1875rem;
      margin-right: auto;
      margin-left : auto;

      h2 {
        font-size: 2.5rem;
      }
    }
  }
}
