// ===========================
// ===========================
// ===========================
.my-story {
  padding-top   : 5.5rem;
  padding-bottom: 5.5rem;

  background-color: #fbf8f9;



  // ===========================
  // ===========================
  // ===========================
  .image {
    height: 60vh;

    background: {
      image   : url("../images/my_story.jpg");
      size    : cover;
      position: center center;
      repeat  : no-repeat;
    }
  }



  // ===========================
  // ===========================
  // ===========================
  .text {
    padding: 2.5rem;

    background-color: white;



    // ===========================
    // ===========================
    // ===========================
    h2 {
      margin-top: 0;

      font-size  : 1.5625rem;
      font-weight: 300;
    }

    p {
      margin-bottom: 1.875rem;

      color      : $neutralColor;
      font-size  : .741rem;
      line-height: 1.85714285714286;
    }

    a {
      display   : inline-block;
      margin-top: -.625rem;
      padding   : 1.25rem 2.1875rem;

      text-decoration: none;

      border       : .0625rem solid $primaryColor;
      border-radius: $borderRadius;

      transition: all 200ms linear;
    }

    h2,
    a {
      color: $primaryColor
    }
  }
}
