// ===================================
// ===================================
// ===================================
.my-story {
  padding-top   : 5.5rem;
  padding-bottom: 5.5rem;

  background-color: #fbf8f9;



  // ===================================
  // ===================================
  // ===================================
  .image {
    height  : 61vh;
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }


  // ===================================
  // ===================================
  // ===================================
  .text {
    padding: 2.5rem;

    background-color: white;



    // ===================================
    // ===================================
    // ===================================
    h2,
    a {
      color: $primaryColor
    }

    h2 {
      margin-top: 0;

      font-size  : 1.5625rem;
      font-weight: 300;
    }

    p {
      margin-bottom: 1.875rem;

      color      : $neutralColor;
      font-size  : .741rem;
      line-height: 1.85714285714286;
    }

    a {
      display   : inline-block;
      margin-top: -.625rem;
      padding   : 1.25rem 2.1875rem;

      text-decoration: none;

      border       : .0625rem solid $primaryColor;
      border-radius: $borderRadius;

      transition: all 200ms linear;

      &:hover {
        color: white;

        background-color: $primaryColor;
      }
    }
  }
}



// ===================================
// ===================================
// ===================================
@media only screen and (min-width: 760px) {
  .my-story {
    display       : flex;
    flex-direction: row-reverse;
    padding       : 6.25rem 1.25rem;



    // ===================================
    // ===================================
    // ===================================
    .image {
      width : 60vw;
      height: 87.7vh;

      img {
        max-width  : 147%;
        margin-left: -4.0625rem;
      }
    }



    // ===================================
    // ===================================
    // ===================================
    .text {
      width  : 90%;
      height : 100%;
      padding: 2.5rem 2rem;



      // ===================================
      // ===================================
      // ===================================
      h2 {
        margin-bottom: 1.5rem;

        font-size: 2.5rem;
      }

      p {
        font-size: .8125rem;
      }

      a {
        margin-top: -.625rem;
      }
    }
  }
}
