// ===================================
// ===================================
// ===================================
.what-i-do {
  padding-top   : 5rem;
  padding-bottom: 5rem;



  // ===================================
  // ===================================
  // ===================================
  h2,
  h3 {
    margin-bottom: 0;

    font-weight: 300;
  }

  h2 {
    font-size: 1.5625rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    font-size  : .741rem;
    line-height: 1.85714285714286;
  }

  a {
    text-decoration: none;
  }



  // ===================================
  // ===================================
  // ===================================
  header {
    margin-bottom: 1.875rem;
    padding-right: 1rem;
    padding-left : 1rem;

    color     : $neutralColor;
    text-align: center;



    // ===================================
    // ===================================
    // ===================================
    p {
      padding-bottom: .625rem;
    }
  }



  // ===================================
  // ===================================
  // ===================================
  .i-do,
  .advise,
  .ebooks-courses {
    margin : 1.25rem .625rem;
    padding: 2.55rem 1.25rem;



    // ===================================
    // ===================================
    // ===================================
    a {
      display       : inline-block;
      min-width     : 10rem;
      margin-top    : .3125rem;
      padding-top   : 1.25rem;
      padding-bottom: 1.25rem;

      transition: all 200ms linear;
    }
  }



  // ===================================
  // ===================================
  // ===================================
  .i-do {
    color: white;

    background   : $primaryColor;
    border-radius: $borderRadius;



    // ===================================
    // ===================================
    // ===================================
    .i-do-separator {
      border-top: .0625rem solid #efefef;
      width     : 20%;
      display   : inline-block;
    }



    // ===================================
    // ===================================
    // ===================================
    a {
      color     : white;
      text-align: center;

      border       : .0625rem solid #ffffff;
      border-radius: $borderRadius;

      &:hover {
        border: .0625rem solid #075aae;
      }
    }
  }



  // ===================================
  // ===================================
  // ===================================
  .advise,
  .ebooks-courses {
    padding-bottom: 1.55rem;

    background: #f3f8fb;



    // ===================================
    // ===================================
    // ===================================
    h2 {
      margin-top: 0;
    }

    h2,
    h3,
    a {
      color: $primaryColor;

      &:hover {
        color: black;
      }
    }
  }



  // ===================================
  // ===================================
  // ===================================
  .ebooks-courses img {
    display  : block;
    max-width: 12.5rem;
    margin   : 0 auto 3rem;
  }
}



// ===================================
// ===================================
// ===================================
@media only screen and (min-width: 769px) {
  .what-i-do {
    padding-top   : 4rem;
    padding-bottom: 4rem;



    // ===================================
    // ===================================
    // ===================================
    h2 {
      font-size: 2.5rem;
    }

    h3 {
      font-size: 1.3125rem;
    }

    p {
      font-size: .8125rem;
    }



    // ===================================
    // ===================================
    // ===================================
    header {
      padding-right: 5rem;
      padding-left : 5rem;
    }



    // ===================================
    // ===================================
    // ===================================

    .i-do-container {
      display: flex;
    }



    // ===================================
    // ===================================
    // ===================================
    .advise-ebooks-container {
      display: flex;

      .advise,
      .ebooks-courses {
        padding-top   : 1.5rem;
        padding-bottom: 1.5rem;
      }

      .ebooks-courses {
        display    : flex;
        align-items: center;

        img {
          max-width    : 10rem;
          margin-left  : -1.5625rem;
          margin-bottom: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .what-i-do .advise-ebooks-container {

    .advise,
    .ebooks-courses {
      padding-top   : 2.5rem;
      padding-bottom: 2.5rem;
    }

    .ebooks-courses img {
      max-width: 8rem;
    }
  }
}
