// ===============================
// ==================================
// =================================
.what-i-do {
  padding-top: 5rem;



  // ===============================
  // ==================================
  // =================================
  h2,
  h3 {
    margin-bottom: 0;

    font-weight: 300;
  }

  h2 {
    font-size: 1.5625rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    font-size  : 0.741rem;
    line-height: 1.85714285714286;
  }

  a {
    text-decoration: none;
  }



  // ===============================
  // ==================================
  // =================================
  header {
    margin-bottom: 1.875rem;

    color     : $neutralColor;
    text-align: center;

    p {
      padding-bottom: .625rem;
    }
  }



  // ===============================
  // ==================================
  // =================================
  .i-do {
    margin : .625rem;
    padding: 1.25rem;

    color: white;

    background: $primaryColor;

    // ==========================
  }



  // ===============================
  // ==================================
  // =================================
  .advise-ebooks-courses {
    background: #f3f8fb;
  }
}
