// Global
*,
*::before,
*::after {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

// Menu
.header {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  padding        : 12px 20px;

  img {
    width : 140px;
    height: 43px;
  }

  button {
    border: none;

    i {
      padding: 12px;

      color: white;

      background: #075aae;
    }
  }
}


.mb {
  margin-bottom: 1000px;
}
