// ===================================
// ===================================
// ===================================
.features {
  padding-top   : 2.5rem;
  padding-bottom: 2.5rem;

  text-align: center;

  background: #f3f8fb;



  // ===================================
  // ===================================
  // ===================================
  h3 {
    color      : $neutralColor;
    font-size  : 1.25rem;
    font-weight: 300;
  }



  // ===================================
  // ===================================
  // ===================================
  .images-container {
    display       : flex;
    flex-direction: column;

    img {
      max-width    : 100%;
      margin-top   : 1.25rem;
      margin-bottom: 1.25rem;
    }
  }
}



// ===================================
// ===================================
// ===================================
@media only screen and (min-width: 769px) {
  .features {
    padding-top   : 2rem;
    padding-bottom: 2rem;

    h3 {
      font-size: 1.3125rem;
    }

    .images-container {
      display        : flex;
      flex-direction : row;
      justify-content: space-evenly;
    }
  }
}
