// ===================================
// ===================================
// ===================================
*,
*::before,
*::after {
  box-sizing: border-box;
}



// ===================================
// ===================================
// ===================================
html {
  font-family: 'Montserrat', sans-serif;

  scroll-behavior: smooth;
}



// ===================================
// ===================================
// ===================================
body {
  margin: 0;
}
